delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road3  big 3 - HILL.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road3  big 3 - ramp.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road3  big 3.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road3 - big 2.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road3 - big 4.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road3 - big.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/road_crosswalk.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/roadbarriers0.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/roadbarriers1 - 2.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/roadbarriers1 - 3.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/roadbarriers1.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/Stop_sign.obj.import
delivaura/Assets (DO NOT MOVE)/Terrain Sprites/Traffic_Light.mtl.obj.import
